<!-- <section class="section">
  <div class="columns">
  <%= simple_form_for @dndchar do |f| %>

    <div class="field">
      <div class="control">
        <%= f.input :charname, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
    </div>
      </div>

    <div class="field">
      <div class="control">
          <%= f.input :charrace, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
    </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.input :charclass, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.input :charlevel, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>

    <%= f.button :submit, class: "button is-primary" %>
  <% end %>
</div>
</section>

<div class="section">
  <div class="columns">
    <%= simple_form_for @dndchar do |f| %>

      <div class="field">
        <div class="control">
          <%= f.input :charname, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :charrace, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :charclass, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.input :charlevel, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

-->

<!-- Basic Character Info -->
<section class="section">
<%= simple_form_for @dndchar do |f| %>
    <p class="level-item">
      <strong class="title is-6 is-italic">Basic Character Information</strong>
    </p>
    <hr />
<div class="columns">
  <div class="column">
    <%= f.input :charname,label: "Name", :placeholder => "Name",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
  </div>
  <div class="column">
    <%= f.input :charrace,label: "Race", :placeholder => "Race", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
  </div>
  <div class="column">
    <%= f.input :charclass,label: "Class", :placeholder => "Class", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
  </div>
  <div class="column">
    <%= f.input :charlevel,label: "Level", :placeholder => "Level", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
  </div>
</div>
    <div class="columns">
      <div class="column">
        <%= f.input :charname,label: "Alignment", :placeholder => "Alignment",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
      <div class="column">
        <%= f.input :charrace,label: "Faction", :placeholder => "Faction", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
      <div class="column">
        <%= f.input :charclass,label: "Experience Points", :placeholder => "Experience Points", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <%end %>
</section>

<!-- Character Levels -->
<section class="section">
  <%= simple_form_for @dndchar do |f| %>
    <p class="level-item">
      <strong class="title is-6 is-italic">Character Levels</strong>
    </p>
    <hr />
    <div class="columns">
      <div class="column">
        <%= f.input :charname,label: "Strength", :placeholder => "[1-20]",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
      <div class="column">
        <%= f.input :charrace,label: "Dexterity", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
      <div class="column">
        <%= f.input :charclass,label: "Constitution", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <%= f.input :charname,label: "Intelligence", :placeholder => "[1-20]",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
      <div class="column">
        <%= f.input :charrace,label: "Wisdom", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
      <div class="column">
        <%= f.input :charclass,label: "Charisma", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <!-- <%= f.button :submit, class: "button is-primary" %> -->
  <%end %>
</section>

<!-- Saving Throws -->
<section class="section">
  <%= simple_form_for @dndchar do |f| %>
    <p class="level-item">
      <strong class="title is-6 is-italic">Saving Throws</strong>
    </p>
    <hr />
    <div class="columns">
      <div class="column">
        <%= f.input :charname,label: "Strength", :placeholder => "[1-20]",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
      <div class="column">
        <%= f.input :charrace,label: "Dexterity", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
      <div class="column">
        <%= f.input :charclass,label: "Constitution", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <%= f.input :charname,label: "Intelligence", :placeholder => "[1-20]",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
      <div class="column">
        <%= f.input :charrace,label: "Wisdom", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
      <div class="column">
        <%= f.input :charclass,label: "Charisma", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <!-- <%= f.button :submit, class: "button is-primary" %> -->
  <%end %>
</section>

<!-- Character Skills -->
<section class="section">
  <%= simple_form_for @dndchar do |f| %>
    <p class="level-item">
      <strong class="title is-6 is-italic">Character Skills</strong>
    </p>
    <hr />
    <div class="columns">
      <div class="column">
        <%= f.input :charname,label: "Acrobatics", :placeholder => "[1-20]",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
      <div class="column">
        <%= f.input :charrace,label: "Animal Handling", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
      <div class="column">
        <%= f.input :charclass,label: "Arcana", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
      <div class="column">
        <%= f.input :charname,label: "Athletics", :placeholder => "[1-20]",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
      <div class="column">
        <%= f.input :charrace,label: "Deception", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
      <div class="column">
        <%= f.input :charclass,label: "History", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <%= f.input :charname,label: "Insight", :placeholder => "[1-20]",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
      <div class="column">
        <%= f.input :charrace,label: "Intimidation", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
      <div class="column">
        <%= f.input :charclass,label: "Medicine", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
      <div class="column">
        <%= f.input :charname,label: "Nature", :placeholder => "[1-20]",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
      <div class="column">
        <%= f.input :charrace,label: "Perception", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
      <div class="column">
        <%= f.input :charclass,label: "Persuasion", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <div class="columns is-one-sixth">
      <div class="column">
        <%= f.input :charname,label: "Religion", :placeholder => "[1-20]",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
      <div class="column">
        <%= f.input :charrace,label: "Slight of Hand", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }  %>
      </div>
      <div class="column">
        <%= f.input :charclass,label: "Stealth", :placeholder => "[1-20]", input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
      <div class="column">
        <%= f.input :charname,label: "Survival", :placeholder => "[1-20]",input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
    </div>
    <!-- <%= f.button :submit, class: "button is-primary" %> -->
  <%end %>
</section>