<% content_for :page_title, @dndchar.charname %>

<section class="section">
  <div class="container">
   <nav class="level">
     <!-- Left side -->
     <div class="left-side">
       <p class="level-item">
         <strong>Actions</strong>
       </p>
     </div>

     <!-- Right side -->
     <div class="level-right">
       <p class="level-item">
         <%= link_to "Edit", edit_dndchar_path(@dndchar), class: "button" %>
       </p>
       <p class="level-item">
        <%= link_to "Delete", dndchar_path(@dndchar), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger" %>
       </p>
     </div>
   </nav>
    <hr />



    <!-- <div class="content">
      Level: <%= @dndchar.charlevel %>
    </div> -->

  </div>
</section>

<!-- Basic Character Info Columns -->
<section class="section">
  <div class="left-side">
    <p class="level-item">
      <strong class="title is-6 is-italic">Basic Character Information</strong>
    </p>
  </div>
  <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="columns">
            <div class="column is-one-third">Level: <%= @dndchar.charlevel %></div>
            <div class="column">Race: <%= @dndchar.charrace %></div>
            <div class="column">Class: <%= @dndchar.charclass %></div>
          </div>
          <div class="columns">
            <div class="column is-one-third">Alignment: <%= @dndchar.charalign %></div>
            <div class="column">Experience Points: <%= @dndchar.charexp %> </div>
            <div class="column">Faction: <%= @dndchar.charfaction %> </div>
          </div>
          <!--<div class="coment-count">
          <span class="tag is-rounded"><%# #comment count %> </span>
        </div>-->
        </div>
      </div>
  </div>
</section>

<!-- Character Levels -->
<section class="section">
  <div class="left-side">
    <p class="level-item">
      <strong class="title is-6 is-italic">Character Levels</strong>
    </p>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column is-one-third">Strength: <%= @dndchar.charstr %></div>
          <div class="column">Dexterity: <%= @dndchar.chardex %></div>
          <div class="column">Constitution: <%= @dndchar.charcon %></div>
        </div>
        <div class="columns">
          <div class="column is-one-third">Intelligence: <%= @dndchar.charint %></div>
          <div class="column">Wisdom: <%= @dndchar.charwis %> </div>
          <div class="column">Charisma: <%= @dndchar.charchar %> </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Character Saving Throws -->
<section class="section">
  <div class="left-side">
    <p class="level-item">
      <strong class="title is-6 is-italic">Saving Throws</strong>
    </p>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column is-one-third">Strength: <%= @dndchar.charsavestr %></div>
          <div class="column">Dexterity: <%= @dndchar.charsavedex %></div>
          <div class="column">Constitution: <%= @dndchar.charsavecon %></div>
        </div>
        <div class="columns">
          <div class="column is-one-third">Intelligence: <%= @dndchar.charsaveint %></div>
          <div class="column">Wisdom: <%= @dndchar.charsavewis %> </div>
          <div class="column">Charisma: <%= @dndchar.charsavechar %> </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Character Skills -->
<section class="section">
  <div class="left-side">
    <p class="level-item">
      <strong class="title is-6 is-italic">Skills</strong>
    </p>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column is-one-sixth">Acrobatics: <%= @dndchar.characro %></div>
          <div class="column">Animal Handling: <%= @dndchar.charanimal %></div>
          <div class="column">Arcana: <%= @dndchar.chararcana %></div>
          <div class="column">Athletics: <%= @dndchar.charathletic %> </div>
          <div class="column">Deception: <%= @dndchar.chardeception %></div>
          <div class="column">History: <%= @dndchar.charhistory %> </div>
        </div>
        <div class="columns">
          <div class="column is-one-sixth">Insight: <%= @dndchar.charinsight %></div>
          <div class="column">Intimidation: <%= @dndchar.charintim %></div>
          <div class="column">Investigation: <%= @dndchar.charinv %></div>
          <div class="column">Medicine: <%= @dndchar.charmed %> </div>
          <div class="column">Nature: <%= @dndchar.charnature %></div>
          <div class="column">Perception: <%= @dndchar.charperc %> </div>
        </div>
        <div class="columns">
          <div class="column is-one-sixth">Performance: <%= @dndchar.charperform %></div>
          <div class="column">Persuasion: <%= @dndchar.charpersuasion %></div>
          <div class="column">Religion: <%= @dndchar.charreligion %></div>
          <div class="column">Sleight of Hand: <%= @dndchar.charslight %> </div>
          <div class="column">Stealth: <%= @dndchar.charstealth %></div>
          <div class="column">Survival: <%= @dndchar.charsurvive %> </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Notes & Description -->
<section class="section">
  <div class="left-side">
    <p class="level-item">
      <strong class="title is-6 is-italic">Notes & Description</strong>
    </p>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column is-one-sixth">Description: <%= @dndchar.chardescription %></div>
          <div class="column">Notes: <%= @dndchar.charnotes %></div>
        </div>
      </div>
    </div>
  </div>
</section>